html {
  box-sizing: border-box;
}

*,*::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

/* svg {
  position: absolute;
  top: 0;
  left: 0;
} */

.container {
  display: flex;
  justify-content: center;
  width: 90%;
  margin: 0 auto;
}

.image-container {
  position: relative;
  width: 90%;
  height: fit-content;
  background-color: blue;
  margin: 0 auto;
  overflow-y: hidden;
}

.image-desktop {
  position: relative;
  z-index: 1;
}

.iframe-cv {
  z-index: 0;
  position: absolute;
  left: 14%;
  top: 5%;
  height: 60%;
  width: 72%;
  display: block;
}

#svg8 {
  width: 100%;
}

@media (max-width: 499px) {
  .image-desktop {
  display: none;
  }
  .iframe-cv {
    display: none;
  }
}
@media (max-width: 799px) {
  .image-desktop {
  width: 90%;
  }
}
