html {
  box-sizing: border-box;
}

*,*::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 90%;
  margin: 0 auto;
}

.image-container {
  display: block;
  position: relative;
  width: 90%;
  height: fit-content;
  margin: 0 auto;
  overflow-y: hidden;
  padding-top: 2px;
}

.image-desktop {
  position: relative;
  z-index: 1;
}

.iframe-cv {
  z-index: 0;
  position: absolute;
  left: 14%;
  top: 4.2%;
  height: 60%;
  width: 73%;
  display: block;
}

#svg8 {
  width: 100%;
}

@media (max-width: 799px) {
  .image-desktop {
  width: 90%;
  }
}
